:root {
    --black: #000;
    --blue: #093545;
    --cream: #eeedec;
    --green: #30b630;
    --grey: #9c9b9b;
    --grey_2: #383841;
    --grey_2_light: #4b4b54;
    --grey_dark: rgba(0,0,0,.87);
    --red: #e52929;
    --white: #fff;
}

* {
    animation-name: fadeIn;
    animation-duration: 700ms;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    overflow: scroll;
    position: relative;
}

button,
.button {
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    padding: 10px 30px;
}

.Main {
    margin-left: 200px;
    width: calc(100% - 200px);
}


h1 {
    padding-top: 50px !important;
    text-align: center;
}

/*
Sidebar
*/

/* Leave this Semantic-UI setting */
.ui.grid {
    margin-top: 0 !important;
}

.Sidebar {
    align-items: center;
    background-color: var(--grey_dark);
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 200px;
}

.Sidebar .logo img {
    margin: 30px 0;
    width: 70px;
}

.Sidebar .links {
    display: flex;
    flex-direction: column;
}

.Sidebar .links img {
    margin: 5px;
    padding-right: 5px;
    width: 32px;
}

.Sidebar a {
    border-radius: 4px;
    color: var(--cream) !important;
    display: flex;
    align-items: center;
    margin: 7px 0;
    padding: 5px 0;
    transition: all 250ms linear;
}

.Sidebar a.active {
    color: var(--white) !important;
    text-decoration: underline;
    transform: scale(1.1);
}

.Sidebar a.inactive {
    transform: scale(1);
}

.Sidebar a.inactive:hover {
    color: var(--white) !important;
    text-decoration: underline;
}

/*
Spinner
*/

.Modal {
    background-color: var(--grey_dark);
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}

.Spinner {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 35%;
}

.x-modal {
    color: var(--white);
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 20px;
}

/*
Footer
*/

footer {
    bottom: 0;
    margin-top: 50px;
    position: relative;
    width: 100%;
}

.Footer {
    display: flex;
    justify-content: space-evenly;
}

.Footer .left,
.Footer .right {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.Footer .left {
    background-color: lightpink;
    border-right: 1px solid;
}

.Footer .right {
    background-color: lightblue;
}

/*
Scroll To Top
*/

.ScrollToTop {
    animation: fadeScroll 3000ms ease-in-out;
    cursor: pointer;
}

.ScrollToTop img {
    bottom: 260px;
    position: fixed;
    right: 10px;
    transform: rotate(180deg);
    width: 64px;
}

@keyframes fadeScroll {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*
PageNotFound404
*/

.PageNotFound404 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PageNotFound404 h1 {
    margin: 50px !important;
}

.PageNotFound404 .travolta-wrapper {
    margin: 100px;
}

.PageNotFound404 img {
    width: 120%;
}

/*
Homepage
*/

.Homepage {
    text-align: center;
}

/*
Search
*/

.Search form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Search input[type="text"] {
    background-clip: padding-box;
    background-color: var(--cream);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: inherit;
    margin: 20px 30px;
    outline: none;
    opacity: 1;
    padding: 7px 0 7px 35px;
    width: 220px;
    word-break: normal;
}

.Search input[type="text"]:focus {
    /*outline-style: solid;*/
    opacity: 0.8;
    box-shadow: 0 0 0 1px;
}

.SearchForm img {
    position: relative;
    right: 90px;
    top: 46px;
    width: 18px;
}

/*
SearchedCoin
*/

.SearchedCoin {
    background-color: lightcoral;
    border: 1px solid;
    margin: 100px 0;
    padding: 20px;
}

.SearchedCoin .coin-id {
    text-transform:capitalize;
}

/*
Market
*/

.Market img {
    margin: 0 10px;
    width: 28px;
}

/*
Table
*/

.ui.table thead th {
    width: 5% !important;
}

.oMwtR {
    text-align: center !important;
}

.MarketTableBody * {
    font-weight: 700;
}

.Market td.name {
    display: flex;
    align-items: center !important;
}

.MarketTableItem .negative-number {
    color: var(--red) !important;
}

.MarketTableItem .positive-number {
    color: var(--green) !important;
}

/*
Exchanges + Wiki
*/

.ui.grid {
    display: flex;
    justify-content: space-between;
}

.ui.card .content {
    padding: 50px 25px !important;
    text-align: center;
}

/*
Exchanges
*/

.ui.card.ExchangesItemCard {
    margin: 60px 0 !important;
}

.ExchangesItemCard .exchange-details {
    padding: 10px !important;
    text-align: left;
}

.ExchangesItems {
    /*margin: 80px;*/
}

.ExchangesItemCard img {
    margin: 25px auto;
    padding: 10px;
    width: 74px !important;
}

/*
Wiki
*/

.WikiItems .ui.grid {
    justify-content: space-evenly !important;
}

.ui.card.WikiItemCard {
    margin: 60px 40px !important;
    width: 420px;
}

.ui.card.WikiItemCard .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui.card.WikiItemCard .content.wikiHeader {
    background: rgba(0,0,0,.05);
    flex-grow: 0 !important;
}

.WikiItemCard .header:not(.wikiHeader .header) {
    margin: 20px 0;
}

.WikiItemCard .content.top-3-coins {
    flex-grow: 0 !important;
}

.WikiItemCard .top-coins-images img {
    margin: 20px;
}

/*
Desktop
*/

@media only screen and (min-width: 1200px) {
    .WikiItems div.ui.grid.container {
        width: 80vw !important;
    }

    .WikiItems .ui.card {
        margin: 0 50px;
    }
}


/*
Mobile
*/

@media (max-width: 1200px) {
    .ui.card.WikiItemCard {
        margin: 50px 10px !important;
        width: 85vw;
    }
}

