:root {
    --black: #000;
    --blue: #093545;
    --cream: #eeedec;
    --green: #30b630;
    --red: #e52929;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    overflow: scroll;
    position: relative;
}

button,
.button {
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    padding: 10px 30px;
}

/*
Navbar
*/

.ui.menu {
    align-items: center;
    justify-content: center;
}

nav img {
    position: relative;
    right: 15px;
    width: 40px;
}

.segment {
    border-radius: 0 !important;
}

/*
Homepage
*/

.Homepage {
    margin: 20px 10px;
    text-align: center;
}

.Homepage h1,
.Homepage h3 {
    margin: 40px 0;
}

/*
Search
*/

.Search form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Search input[type="text"] {
    background-clip: padding-box;
    background-color: var(--cream);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: inherit;
    margin: 20px 30px;
    outline: none;
    opacity: 1;
    padding: 7px 0 7px 35px;
    width: 220px;
    word-break: normal;
}

.Search input[type="text"]:hover {
    opacity: 0.6;
}

.SearchForm img {
    position: relative;
    right: 90px;
    top: 48px;
    width: 18px;
}

/*
Market
*/

.Market img {
    margin: 0 10px;
    width: 28px;
}

/*
Table
*/

.oMwtR {
    text-align: center !important;
}

.Market td.name {
    display: flex;
    align-items: center !important;
}

.MarketTableItem .negative-number {
    color: var(--red) !important;
}

.MarketTableItem .positive-number {
    color: var(--green) !important;
}

/*
Exchanges + Wiki
*/

.ui.grid {
    display: flex;
    justify-content: space-between;
}

.ui.card .content {
    padding: 50px 25px !important;
    text-align: center;
}

/*
Exchanges
*/

.ui.card.ExchangesItemCard {
    margin: 60px 0 !important;
}

.ExchangesItemCard .exchange-details {
    padding: 10px !important;
    text-align: left;
}

.ExchangesItems {
    margin: 80px;
}

.ExchangesItemCard img {
    margin: 25px auto;
    padding: 10px;
    width: 74px !important;
}

/*
Wiki
*/

.WikiItems .ui.grid {
    justify-content: space-evenly !important;
}

.ui.card.WikiItemCard {
    margin: 60px 40px !important;
    width: 360px;
}

.ui.card.WikiItemCard .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui.card.WikiItemCard .content.wikiHeader {
    background: rgba(0,0,0,.05);
    flex-grow: 0 !important;
}

.WikiItemCard .header:not(.wikiHeader .header) {
    margin: 20px 0;
}

.WikiItemCard .content.top-3-coins {
    flex-grow: 0 !important;
}

.WikiItemCard .top-coins-images img {
    margin: 20px;
}

/*
Desktop
*/

@media only screen and (min-width: 1200px) {
    .WikiItems div.ui.grid.container {
        width: 80vw !important;
    }

    .WikiItems .ui.card {
        margin: 0 50px;
    }
}



/*
Mobile
*/

@media (max-width: 1000px) {
    .ui.card.WikiItemCard {
        margin: 50px 10px !important;
        width: 85vw;
    }
}

